[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ipython = "*"
requests = "*"
ipdb = "*"
scrapy = "==1.6"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
